{% include 'base.html' %}
{% load static %}


{% block content %}

<div class="wrapper">

 <main role="main" class="main-content">
     {% include 'navbar.html' %}
        <div class="container-fluid">
          <div class="row justify-content-center mt-4">

            <div class="col-12 col-xl-12">
              <h2 class="page-title">Diet Planner</h2>
              <p class="text" style="">

To generate a personalized diet plan for pregnant women using our AI-powered Diet Planner, we require detailed information through our comprehensive input form. This includes your current trimester, due date, and any complications like gestational diabetes. Your dietary preferences and restrictions, such as food allergies, dietary preferences (e.g., vegetarian, vegan), dislikes, and cultural or religious restrictions, are essential. We also need information about any pre-existing conditions, current medications, and previous pregnancies if applicable. Your nutritional goals, target weight gain, typical daily activity level, exercise routine, sleep patterns, current eating habits, and specific cravings or aversions during pregnancy will help us create the most accurate and beneficial diet plan tailored to your unique needs.</p>
              <div class="card-deck">
              </div> <!-- / .card-desk-->
              <div class="row">
                <div class="col-md-12">
                  <div class="card shadow mb-4">
                    <div class="card-header">
                      <strong class="card-title">All fields are required.</strong>
                    </div>
                    <div class="card-body">
                      <form method="post" enctype="multipart/form-data" action="{% url 'diet' %}">
                          {% csrf_token %}
                          <div class="form-row">
                            <div class="form-group col-md-10">
                            <label for="inputPhone">Diet Plan</label>
                            {{ form.diet_plan }}
                          </div>
                          </div>


                        <button type="submit" class="btn btn-primary">Generate Diet Plan</button>
                      </form>
                    </div>
<!-- /. card-body -->
                  </div> <!-- /. card -->
                                          <h2>Diet Plan : </h2>
                    <p>{{ response }}</p>
                </div> <!-- /. col -->
              </div> <!-- /. end-section -->
             </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main>

</div>

{% include 'scripts.html' %}

{% endblock content %}